{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button type="button">
        <a href="{% url 'addPostulante' %}"> Agregar</a>
    </button>
    <h1>Listado de postulaciones</h1>
    {% for postulacion in postulaciones %}
    <tr>
        <td> {{postulacion.nombre_post}}
        <td> {{postulacion.correo_post}}
        <td> {{postulacion.numero_post}}
        <td> {{postulacion.ocupacion_post}}
        <td> <a href="{% url 'findPostulante' pk=postulacion.nombre_post%}">Modificar</a>
        <td> <a href="{% url 'delPostulante' pk=postulacion.nombre_post%}">Eliminar</a>
        <br>
    </tr>
    {% endfor%}
</body>