<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        {% if postulante %}
        <h2>Modificar postulacion</h2>
        <form action="{% url 'modPostulante' %}" method="POST">
            {% csrf_token %}

            <pre>Nombre: <input type="mail" name="correo_post" value="{{postulante.nombre_post}}"></pre>
            <pre>Correo: <input type="mail" name="correo_post" value="{{postulante.correo_post}}"></pre>
            <pre>Numero: <input type="text" name="numero_post" value="{{postulante.numero_post}}"></pre>
            <pre>Ocupacion: <input type="text" name="ocupacion_post" value="{{postulante.ocupacion_post}}"></pre>

            <input type="submit" name="opcion" value="Actualizar">
        </form> <br><br>
        <a href="{% url 'crud' %}"> Volver </a>
        <br>
        <div id="idMensajes">
            {% if mensaje %}
            {{mensaje}}
            {% endif %}
        </div>
        {% endif %}
    </div>
</body>
</html>