body {
    background-image: url('https://www.ucatalunya.edu.co/img/blog/los-mejores-lenguajes-de-programacion-en-el-desarrollo-web-y-su-importancia-en-la-era-digital.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}
img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
h1 {
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 4px #484b4c;

}
.header {
    padding: 5px;
    background: #080808;
    color: white;
  }
  
  html{
    height: 100%;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.azul {
    color: rgb(18, 208, 255);
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #080808;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
  }
  
  nav a:hover {
    background-color: #222121;
  }